<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clienteForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <div class="ion-text-center">
        <h3>Información del cliente</h3>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input clearInput autocapitalization=words formControlName="nombre" type="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección</ion-label>
          <ion-input clearInput formControlName="direccion" type="text" autocomplete="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>CIF/NIF</ion-label>
          <ion-input clearInput formControlName="cifNif" type="text" placeholder="12345678X"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input clearInput formControlName="email" type="text" placeholder="your@email.com"></ion-input>
        </ion-item>
        <div formArrayName="telefono">
          <ion-item *ngFor="let item of telefonos.controls; index as i">
            <ion-label>{{ getTelefonoLabel(i) }}</ion-label>
            <ion-input clearInput [formControlName]="i" type="text"></ion-input>
            <ion-button (click)="removeTelefono(i)" *ngIf="i > 0" color="danger">
              <ion-icon class="ion-text-center" name="remove"></ion-icon>
            </ion-button>
            <ion-button (click)="addTelefono(1)" *ngIf="i + 1 === telefonos.controls.length && i < 1">
              <ion-icon class="ion-text-center" name="add"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </div>
      <div class="ion-justify-content-evenly" style="display: flex">
        <ion-button color="primary" expand="block" class="ion-no-margin" (click)="cancelar()">Cancelar</ion-button>
        <ion-button color="primary" expand="block" class="ion-no-margin" (click)="aceptar()">Aceptar</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>