<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'AVISOS.AVISO.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="avisoForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <div class="ion-text-center">
        <h3>{{ 'AVISOS.AVISO.SUBTITLE' | translate }}</h3>
      </div>
      <div class="ion-padding">
        <ion-item class="aviso">
          <div>{{ 'AVISOS.AVISO.TITLE' | translate }}:</div>
          <ion-input type="text" [value]="avisoForm.value.numAviso" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'AVISOS.CLIENTES.CLIENTE' | translate }}:</ion-label>
          <ionic-selectable #select formControlName="cliente" [items]="datos.clientes" itemValueField="id"
            itemTextField="nombre" [canSearch]="true" [addButtonText]="'AVISOS.CLIENTES.NEW_CLIENT' | translate"
            [closeButtonText]="'AVISOS.COMUN.CERRAR' | translate"
            [searchPlaceholder]="'AVISOS.COMUN.BUSCAR' | translate" canAddItem="true" (onAddItem)="addClient($event)">
            <ng-template ionicSelectableAddItemTemplate>
              <app-add-client (cerrar)="cerrarAddClient()"></app-add-client>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <ion-item detail>
          <ion-label>{{ 'AVISOS.AVISO.FECHA_CITA' | translate }}:</ion-label>
          <ion-datetime formControlName="fechaCita" [min]="minDate" [max]="maxDate" display-format="DD.MM.YYYY HH:mm">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <div class="item">
            <ion-label>{{ 'AVISOS.AVISO.DESCRIPCION' | translate }}:</ion-label>
            <ion-textarea formControlName="descripcionAviso"></ion-textarea>
          </div>
        </ion-item>
      </div>
      <div class="ion-justify-content-evenly" style="display: flex">
        <ion-button color="primary" expand="block" class="ion-no-margin" (click)="cancelar()">
          {{ 'AVISOS.COMUN.CANCELAR' | translate }}</ion-button>
        <ion-button color="primary" expand="block" class="ion-no-margin" (click)="aceptar()">
          {{ 'AVISOS.COMUN.ACEPTAR' | translate }}</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>