<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Aviso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="avisoForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <div class="ion-text-center">
        <h3>Información del aviso</h3>
      </div>
      <div class="ion-padding">
        <ion-item class="aviso">
          <div>Aviso:</div>
          <ion-input type="text" [value]="avisoForm.value.numAviso" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Cliente</ion-label>
          <ionic-selectable formControlName="cliente" [items]="datos.clientes" itemValueField="id"
            itemTextField="nombre" [canSearch]="true"></ionic-selectable>
        </ion-item>
        <ion-item detail>
          <ion-label>Fecha de Cita:</ion-label>
          <ion-datetime formControlName="fechaCita" [min]="minDate" [max]="maxDate" display-format="DD.MM.YYYY HH:mm">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <div class="item">
            <ion-label>Descipción aviso:</ion-label>
            <ion-textarea formControlName="descripcionAviso"></ion-textarea>
          </div>
        </ion-item>
      </div>
      <div class="ion-justify-content-evenly" style="display: flex">
        <ion-button color="primary" expand="block" class="ion-no-margin" (click)="cancelar()">Cancelar</ion-button>
        <ion-button color="primary" expand="block" class="ion-no-margin" (click)="aceptar()">Aceptar</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>