:host {
  ionic-selectable {
    max-width: 70%;
  }

  ion-textarea {
    height: 100px;
  }

  .item {
    width     : 100%;
    margin-top: 10px;
  }

  .aviso {
    width: 45% !important;

    div {
      margin-right: 5px;
    }
  }

  footer {
    position      : absolute;
    bottom        : 0;
    width         : 100%;
    padding-bottom: 50px;
  }
}