:host {

  .rectangle {
    border: 1px inset black;
  }

  .intervencion {
    padding: 10px;
    width  : 100%;
  }

  ::ng-deep ion-textarea {
    padding-left: 5px;
    border      : 1px inset black;

    textarea {
      height: 90px;
    }
  }

  .noDisplay {
    display: none;
  }

  .wrap {
    display  : flex;
    flex-wrap: wrap;
  }

  .clButton {
    padding        : 10px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-top    : 0px;
    ;

  }

  ion-input {
    border-bottom: 1px inset black;
  }

  ion-datetime {
    padding-left : 0px;
    border-bottom: 1px inset black;
    text-align   : center;

  }

  .flex {
    justify-content: space-between;
  }

  ::ng-deep signature-pad {
    canvas {
      border: 1px inset black;
    }
  }

  .firma {
    padding    : 10px;
    padding-top: 0px;
    width      : 100%;
  }

  .pdf {
    width  : 690px;
    height : 842px;
    padding: 15px;

    .logo {
      width : 200px;
      height: 200px;
    }

    .cliente {
      border : 1px solid black;
      width  : 350px;
      height : 175px;
      padding: 10px;

    }

    .separador {
      border: 1px solid black;
      margin: 10px;
    }

    .flex_space {
      display        : flex;
      justify-content: space-between;
    }

    .label {
      font-weight : bold;
      margin-right: 5px;
    }

    .datos {
      display: flex;
    }

    .tlfno {
      margin-right: 10px;
    }

    .rectangle {
      border       : 1px inset black;
      padding      : 10px;
      margin-bottom: 10px;
    }

    .firmar {
      width : 350px;
      height: 120px;
    }
  }

}