<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'AVISOS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
  <ion-searchbar [placeholder]="'AVISOS.COMUN.BUSCAR' | translate" inputmode="text" type="text"
    (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
  <ion-item>
    <ion-label>Ver Avisos:</ion-label>
    <ion-select interface="popover" [(ngModel)]="filtroEstado">
      <ion-select-option selected=true value="activos">{{ 'AVISOS.FILTRO.ACTIVOS' | translate }}</ion-select-option>
      <ion-select-option value="cerrados">{{ 'AVISOS.FILTRO.CERRADOS' | translate }}</ion-select-option>
      <ion-select-option value="todos">{{ 'AVISOS.FILTRO.TODOS' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item-sliding #sliding
      *ngFor="let item of datos.avisos | estado: filtroEstado | filter: filterValue:['cliente.nombre', 'cliente.direccion', 'numAviso']">
      <ion-item-options side="end" (click)="deleteAviso(item)">
        <ion-item-option color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item detail>
        <ion-grid>
          <ion-row scrollX="true" (click)="goDetalle(item)">
            <ion-col size="8">
              <div>
                <div class="nombre">{{ item.cliente.nombre }}</div>
                <div class="direccion">{{ item.cliente.direccion }}</div>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <div>{{ item.numAviso }}</div>
                <div>{{ item.fechaCita | date: 'dd/MM HH:mm' }}</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addAviso()">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>