<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>{{ 'AVISOS.LOGIN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <form [formGroup]="loginForm">
    <ion-grid fixed>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <div class="ion-text-center">
            <h3>{{ 'AVISOS.LOGIN.BIENVIENIDO' | translate }}</h3>
            <h5>{{ 'AVISOS.LOGIN.SUBTITLE' | translate }}</h5>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input formControlName="email" name="email" type="email"
                [placeholder]="'AVISOS.COMUN.PLACE_EMAIL' | translate"></ion-input>
            </ion-item>
            <div class="text-danger">
              <small *ngIf="loginForm.touched && loginForm.controls['email'].hasError('pattern')">
                {{ 'AVISOS.ERRORES.FORMATO_EMAIL' | translate }}
              </small>
              <small *ngIf="loginForm.touched && loginForm.controls['email'].hasError('required')">
                {{ 'AVISOS.ERRORES.OBLIGATORIO' | translate }}
              </small>
            </div>
            <ion-item>
              <ion-input formControlName="password" name="password" type="password"
                [placeholder]="'AVISOS.COMUN.PLACE_PASS' | translate">
              </ion-input>
            </ion-item>
            <div class="text-danger">
              <small *ngIf="loginForm.touched  && loginForm.controls['password'].hasError('minlength')">
                {{ 'AVISOS.ERRORES.PASS_MIN_LENGTH' | translate }}
              </small>
              <small *ngIf="loginForm.touched && loginForm.controls['password'].hasError('required')">
                {{ 'AVISOS.ERRORES.OBLIGATORIO' | translate }}
              </small>
            </div>
            <ion-item>
              <ion-checkbox slot="start" formControlName="recordar" name="recordar"></ion-checkbox>
              <ion-label>{{ 'AVISOS.LOGIN.RECORDAR' | translate }}</ion-label>
            </ion-item>
          </div>
          <div class="ion-padding ion-text-center">
            <ion-button color="primary" expand="block" class="ion-no-margin" (click)="login()">
              {{ 'AVISOS.COMUN.ACEPTAR' | translate }}</ion-button>
          </div>
        </ion-list>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>