:host {
  .datos {
    display        : flex;
    justify-content: space-between;
    font-size      : 14px;
  }

  .direccion {
    font-size: 13px;
    color    : #858585fa;
  }

  .nombre {
    font-weight: bold;
  }

  .header {
    font-weight: bold;
    margin-left: 18px;
  }

  .title {
    color      : #3880ff;
    font-weight: bold;
  }

  .dato {
    font-size: 14px;
  }

  ion-fab {
    margin-bottom: 55px;
  }
}