<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=''></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'AVISOS.PDF.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="true" scroll-x="true">

  <object [data]="url" type="application/pdf" width="100%" height="100%" *ngIf="online; else noOnline">
    <iframe [src]="url" width="100%" height="100%" style="border: none;">
      <p>{{ 'AVISOS.PDF.P' | translate }}
        <a [href]="url">{{ 'AVISOS.PDF.A' | translate }}</a>.</p>
    </iframe>
  </object>


</ion-content>

<ng-template #noOnline>
  <div>{{ 'AVISOS.PDF.NO_ONLINE' | translate }}</div>
</ng-template>